@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import "../node_modules/tachyons-sass/tachyons.scss";

// Tachyons colors
:root {
  $green: #7fb069;
  $gold: #e6aa68;
  $red: #ca3c25;
  $black: #1d1a05;
  $washed-yellow: #fffbbd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

a {
  text-decoration: none;
}

.site-content {
  max-width: 1450px;
  margin: auto;
  padding: 24px;
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 32px;
}

//Material UI Overrides
.MuiOutlinedInput-notchedOutline {
  border: 2px solid $gold !important;
}

//Stripe form styles:
.StripeElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

//CSSTransition styles
.comment-enter {
  opacity: 0;
}
.comment-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.comment-exit {
  opacity: 1;
}
.comment-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
