@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

:root {
  --body-background-color: rgba(0, 0, 0, 0.01);
  --content-background-color: rgba(0, 0, 0, 0.02);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600;
}

html,
body {
  background: var(--body-background-color);
}

a {
  text-decoration: none;
}

.site-content {
  max-width: 1450px;
  margin: auto;
  padding: 24px;
  background-color: var(--content-background-color);
}

.spinner {
}

//Stripe form styles:
.StripeElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
